<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <section>
      <p>タイトル：<br>
      <input type="text" name="title" value="<%= @memo.title %>" form="edit">
      </p>
      <p>内容：<br>
      <textarea name="content" id="" cols="30" rows="10" form="edit"><%= @memo.content %></textarea>
      </p>
    <form method="GET" action="/">
      <p><input type="submit" name="cancel" value="キャンセル"></p>
    </form>
    <form method="POST" action="/edit/<%= @memo.id %>" id="edit">
      <input type="hidden" name="_method" value="put">
      <p><input type="submit" name="edit" value="確定"></p>
    </form>
  </section>
</body>
</html>
