<%= erb :error_message, locals: { errors: @memo.errors } %>
<div class="input-field">
  <form method="POST" action="/memos/<%= @memo.id %>">
    <%= erb :form, locals: { title: @memo.title, content: @memo.content } %>
    <div class="bottom-button">
      <p><a href="/"><input type="button" value="キャンセル" class="button"></a></p>
      <input type="hidden" name="_method" value="patch">
      <p><input type="submit" value="確定" class="button"></p>
    </form>
  </div>
</div>
