<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Top</title>
</head>
<body>
  <header>
  <h1>New</h1>
  </header>
  <section>
    <form method="POST" action="/new">
      <p>タイトル：<br>
      <input type="text" name="title">
      </p>
      <p>内容：<br>
      <textarea name="content" id="" cols="30" rows="10"></textarea>
      </p>
      <p><input type="submit" value="追加"></p>
    </form>
  </section>
</body>
</html>
