<div class="input-field">
  <label>タイトル：</label>
  <h3 class="memo-title"><%= @memo.title %></h3>
  <label>内容：</label>
  <pre class="memo-content"><%= @memo.content %></pre>
</div>
<div class="bottom-button">
  <p><a href="/memos/<%= @memo.id %>/edit"><input type="button" name="edit" value="編集" class="button"></a></p>
  <form method="post" action="/memos/<%= @memo.id %>">
    <input type="hidden" name="_method" value="delete">
    <p><input type="submit" name="delete" value="削除" class="button"></p>
  </form>
</div>
