<p><a href="/memos/new"><input type="button" name="new" value="新規作成" class="create-button button"></a></p>
<ul>
  <% @memos.each do |memo| %>
    <li><a href="/memos/<%= memo.id %>"><%= memo.title %></a></li>
  <% end %>
</ul>
